EXPO_PUBLIC_NEWS_API_KEY= "dde2b5709e25424c9d31a5ebd0c60287";
EXPO_PUBLIC_FIREBASE_API_KEY= "AIzaSyB_-zvXNFx61ufk5B9iKfqnjCwyWWRdGPI"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN= "app-explore-54cc9.firebaseapp.com";
EXPO_PUBLIC_FIREBASE_PROJECT_ID= "app-explore-54cc9";
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET= "app-explore-54cc9.firebasestorage.app";
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID= "762195217935";
EXPO_PUBLIC_FIREBASE_APP_ID= "1:762195217935:web:03555f40a9be58de549d7a"